FinalProject/src/main/resources/branchdocument.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BranchDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="FileName"/>
        <xs:element name="IndexingInfo">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:int" name="BranchNo"/>
              <xs:element type="xs:string" name="ApplicationName"/>
              <xs:element name="ContentMetadata">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Metadata" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="ReqInd" use="optional"/>
                            <xs:attribute type="xs:string" name="Value1" use="optional"/>
                            <xs:attribute type="xs:string" name="Name" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>